MyMVC/SportsStoreMvc/Code/SportStore/SportStore.Domain/bin/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.Domain/obj/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.UnitTests/bin/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.UnitTests/obj/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.WebUI/bin/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.WebUI/obj/
MyMVC/SportsStoreMvc/Code/SportStore/TestResults/
MyMVC/SportsStoreMvc/Code/SportStore/packages/
MyMVC/SportsStoreMvc/Code/SportStore/PreCompiled/
MyMVC/HelperMethods/packages/
MyMVC/HelperMethods/HelperMethods.Tests/bin/
MyMVC/HelperMethods/HelperMethods.Tests/obj/
MyMVC/HelperMethods/HelperMethods/bin/
MyMVC/HelperMethods/HelperMethods/obj/
MyExpress/myapp/node_modules/express/node_modules/
MyBrowserify/node_modules/
MyExpress/myapp/node_modules/
MyWebPack/second/node_modules/
