.idea/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.Domain/bin/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.Domain/obj/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.UnitTests/bin/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.UnitTests/obj/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.WebUI/bin/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.WebUI/obj/
MyMVC/SportsStoreMvc/Code/SportStore/TestResults/
MyMVC/SportsStoreMvc/Code/SportStore/packages/
MyMVC/SportsStoreMvc/Code/SportStore/PreCompiled/
MyMVC/HelperMethods/packages/
MyMVC/HelperMethods/HelperMethods.Tests/bin/
MyMVC/HelperMethods/HelperMethods.Tests/obj/
MyMVC/HelperMethods/HelperMethods/bin/
MyMVC/HelperMethods/HelperMethods/obj/
MyBrowserify/node_modules/
MyBrowserify/HelloWorld/node_modules/
MyES6/PromiseDemo/node_modules/
MyBrowserify/Transform/node_modules/
MyExpress/myapp/node_modules/
MyExpress/HelloWorld/node_modules/
MyJasmine/First/node_modules/
MyWebPack/second/node_modules/

MyReactJs/todoApp/node_modules/
MyReactJs/todoAppFlux/node_modules/
*.user
*.suo
*.log
MyMVC/Components/ueditor/Components.Common/obj/
MyMVC/Components/ueditor/
MyJest/First/node_modules/
