MyMVC/SportsStoreMvc/Code/SportStore/SportStore.Domain/bin/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.Domain/obj/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.UnitTests/bin/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.UnitTests/obj/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.WebUI/bin/
MyMVC/SportsStoreMvc/Code/SportStore/SportStore.WebUI/obj/
MyMVC/SportsStoreMvc/Code/SportStore/TestResults/
MyMVC/SportsStoreMvc/Code/SportStore/packages/
MyMVC/SportsStoreMvc/Code/SportStore/PreCompiled/
