extends layout

block content
    h1 admin: user profile
    p=email
    p=website
    p=blog
    p.
        Node.js is your step-by-step guide to learning how to build scalabe real-world
        web applications,taking you from installing Express.js to writing full-stack web
        applications with powerful libraries such as Mongosin,Everyauth,Mongoose,
        Socket.IO,Handlebars,and everything in between.
