USE [SportStore]
GO
ALTER TABLE [dbo].[OrderLines] DROP CONSTRAINT [FK_dbo.OrderLines_dbo.Products_Product_ProductID]
GO
ALTER TABLE [dbo].[OrderLines] DROP CONSTRAINT [FK_dbo.OrderLines_dbo.Orders_Order_OrderId]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2016/1/13 23:05:59 ******/
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2016/1/13 23:05:59 ******/
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[OrderLines]    Script Date: 2016/1/13 23:05:59 ******/
DROP TABLE [dbo].[OrderLines]
GO
/****** Object:  Table [dbo].[OrderLines]    Script Date: 2016/1/13 23:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLines](
	[OrderLineId] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Product_ProductID] [int] NULL,
	[Order_OrderId] [int] NULL,
 CONSTRAINT [PK_dbo.OrderLines] PRIMARY KEY CLUSTERED 
(
	[OrderLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2016/1/13 23:06:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Line1] [nvarchar](max) NULL,
	[Line2] [nvarchar](max) NULL,
	[Line3] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[GiftWrap] [bit] NOT NULL,
	[Dispatched] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 2016/1/13 23:06:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Price] [decimal](16, 2) NOT NULL,
	[ImageData] [varbinary](max) NULL,
	[ImageMimeType] [varchar](50) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[OrderLines] ON 

GO
INSERT [dbo].[OrderLines] ([OrderLineId], [Quantity], [Product_ProductID], [Order_OrderId]) VALUES (1, 1, 2, 1)
GO
INSERT [dbo].[OrderLines] ([OrderLineId], [Quantity], [Product_ProductID], [Order_OrderId]) VALUES (2, 1, 1, 2)
GO
INSERT [dbo].[OrderLines] ([OrderLineId], [Quantity], [Product_ProductID], [Order_OrderId]) VALUES (3, 1, 3, 3)
GO
SET IDENTITY_INSERT [dbo].[OrderLines] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

GO
INSERT [dbo].[Orders] ([OrderId], [Name], [Line1], [Line2], [Line3], [City], [State], [GiftWrap], [Dispatched]) VALUES (1, N'132', N'erew', NULL, NULL, N'erw', N'qre', 1, 0)
GO
INSERT [dbo].[Orders] ([OrderId], [Name], [Line1], [Line2], [Line3], [City], [State], [GiftWrap], [Dispatched]) VALUES (2, N'ads', N'sad', NULL, NULL, N'ads', N'da', 0, 0)
GO
INSERT [dbo].[Orders] ([OrderId], [Name], [Line1], [Line2], [Line3], [City], [State], [GiftWrap], [Dispatched]) VALUES (3, N'Heoo', N'shanghai', NULL, NULL, N'ShangHai', N'1111111', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

GO
INSERT [dbo].[Products] ([ProductID], [Name], [Description], [Category], [Price], [ImageData], [ImageMimeType]) VALUES (1, N'Kayak', N'A boat for one person', N'WaterSports', CAST(275.50 AS Decimal(16, 2)), NULL, N'image/jpeg')
GO
INSERT [dbo].[Products] ([ProductID], [Name], [Description], [Category], [Price], [ImageData], [ImageMimeType]) VALUES (3, N'Soccer Ball', N'FIFA', N'Soccer', CAST(19.50 AS Decimal(16, 2)), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderLines_dbo.Orders_Order_OrderId] FOREIGN KEY([Order_OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK_dbo.OrderLines_dbo.Orders_Order_OrderId]
GO
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderLines_dbo.Products_Product_ProductID] FOREIGN KEY([Product_ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK_dbo.OrderLines_dbo.Products_Product_ProductID]
GO
